body {
  background-color: #F1F2F3;
  padding-top: 56px;
}

.navbar {
  background-color: #FFFFFF;
}

.heading {
  margin-top: 40px;
  margin-bottom: 24px;
}

.footer {
  padding: 10px 16px;
  background-color: #FAFAFA;
}


.nav-link-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.nav-link-text {
  display: none;
}

.btn.active .nav-link-text {
  display: inline-block;
}

.more-option {
  padding: 8px;
  border: 1px solid #ddd;
  display: block;
  border-radius: 9999px;
}

.more-option .material-icons {
  display: block;
}


.sub-heading-btn {
  position: absolute;
  left: 0;
  top: 4px;
  border: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 18px;
}


#device-list .list-group-item {

}

#device-list .list-group-item {
padding-left: 24px;
}


#device-list .list-group-item {
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
}

#device-list .list-group-item:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15) !important;
  transition: all .250s;
  z-index: 1;
}

#device-list .list-group-item + .list-group-item {
  margin-top: 4px;
}


