body {
  background-color: #F1F2F3;
  padding-top: 56px;
}

.navbar {
  background-color: #FFFFFF;
}

.heading {
  margin-top: 16px;
  margin-bottom: 24px;
}

.footer {
  padding: 10px 16px;
  background-color: #FAFAFA;
}

.nav-pills .nav-link {
  display: inline-block;
  color: #727272;
  border-radius: 9999px;
}

.nav-pills .nav-link.active {
  background-color: #FFFFFF;
  color: #555555;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
}

.nav-link-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.nav-link-text {
  display: none;
}

.nav-link.active .nav-link-text {
  display: inline-block;
}

.nav-link.active .nav-link-icon {
  margin-right: 4px;
}

.more-option {
  padding: 8px;
  border: 1px solid #ddd;
  display: block;
  border-radius: 9999px;
  color: #555555;
}

.more-option:hover {
  text-decoration: none;
  color: #555555;
}

.more-option .material-icons {
  display: block;
}


.sub-heading-btn {
  position: absolute;
  left: 0;
  top: 4px;
  border: 0;
  background-color: transparent;
  color: inherit;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 18px;
}


#device-list .list-group-item {
padding-left: 24px;
}


#device-list .list-group-item {
  border: 0;
  border-radius: 4px;
  margin-bottom: 0;
}

#device-list .list-group-item:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15) !important;
  transition: all .250s;
  z-index: 1;
}

#device-list .list-group-item + .list-group-item {
  margin-top: 4px;
}


.list {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

.list-item {
  padding-left: 40px;
  position: relative;
}

.list-item-icon {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}


.btn-pills {
  border-radius: 9999px;
}


.fab-speed {
  width: 56px;
  height: 56px;
  background-color: #FFFFFF;
  border-radius: 9999px;
  margin-bottom: 16px;
  padding: 12px;
  text-align: center;
  line-height: 1;
}

.speed-indicator {
  font-size: 20px;
  margin-bottom: 0;
}

.speed-unit {
  font-size: 12px;
  margin-bottom: 0;
}


.media-icon {
  width: 16px;
  margin-right: 8px;
  text-align: center;
}











